* {
    font-family: "Iosevka Nerd Font Propo";
    font-weight: 500;
    font-size: 17px;
 
    border-radius: 0px;
    text-shadow: none;
 
    transition-property: background;
    transition-duration: 0.2s;
}
 
window#waybar {
    background-color: rgba(40, 44, 52, 0.9);
    padding-left: 0px;
    padding-right: 6px;

    font-family: inherit;
}

.modules-left {
    background-color: transparent;
    padding-top: 4px;
}
 
 
.modules-right {
    background-color: transparent;
    padding-bottom: 4px;
}
window#waybar.hidden  {
    opacity: 0.2;
}

tooltip {
    border-radius: 12px;
}

tooltip label {
  color: white;
  font-size: 14px;
}

#custom-lock,
#custom-poweroff,
#custom-reboot,
#custom-search,
#custom-hibernate,
#custom-caffeine,
#workspaces button,
#tray,
#backlight,
#battery,
#cpu,
#memory,
#network,
#wireplumber,
#clock 
{
    border-radius: 12px;
    padding: 3px;
    margin: 2px 5px;
}

#battery { color: #93abbe; }

#clock { 
    font-size: 16px;
    color: #ffffff; 
}

#cpu { color: #FE968B; }

#backlight { color: #FFD700;}

#memory { color: #FFEAAA; }

#wireplumber { color: #b0f5e5; }

#network { color: #8eb1f2; }

#custom-lock { color: #B5E8E0; }

#custom-poweroff { color: #df6a76; }

#custom-reboot { color: #e8c55d; }

#custom-search { color: #ffffff; }

#custom-hibernate { color: #78abdc; }

#custom-caffeine { color: #deb49f; }

#workspaces button.focused { 
    background-color: rgba(255, 255, 255, 0.16);
    color: #36d792; 
}
