layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

binds {
  Mod+Ctrl+R  hotkey-overlay-title="随机壁纸"          { spawn "noctalia-shell" "ipc" "call" "wallpaper" "random"; }
    Mod+C hotkey-overlay-title="打开剪切板"      repeat=false    { spawn "noctalia-shell" "ipc" "call" "launcher" "clipboard"; }
    Mod+D hotkey-overlay-title="打开搜索"        repeat=false    { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }

    Mod+Alt+L   hotkey-overlay-title="锁屏" repeat=false { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }

    XF86AudioRaiseVolume  allow-when-locked=true  { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume  allow-when-locked=true  { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }

    XF86MonBrightnessUp   allow-when-locked=true  { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown allow-when-locked=true  { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }
}
