spawn-at-startup "waypaper" "--restore"
spawn-at-startup "fcitx5" "-d"

spawn-sh-at-startup "wl-paste --watch cliphist store &"

prefer-no-csd

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

environment {
    "CLUTTER_BACKEND" "wayland"
    "ELECTRON_ENABLE_HARDWARE_ACCELERATION" "1"
    "ELECTRON_OZONE_PLATFORM_HINT" "auto"
    "GDK_BACKEND" "wayland,x11"
    "GLFW_IM_MODULE" "fcitx"
    "INPUT_METHOD" "fcitx"
    "MOZ_ENABLE_WAYLAND" "1"
    "NIXOS_OZONE_WL" "1"
    "QT_AUTO_SCREEN_SCALE_FACTOR" "1"
    "QT_IM_MODULE" "fcitx"
    "QT_QPA_PLATFORM" "wayland"
    "QT_WAYLAND_DISABLE_WINDOWDECORATION" "1"
    "XDG_CURRENT_DESKTOP" "niri"
    "XDG_SESSION_TYPE" "wayland"
    XMODIFIERS "@im=fcitx"
}

xwayland-satellite {
    // off
    path "/run/current-system/sw/bin/xwayland-satellite"
}

gestures {
    hot-corners {
        off
    }
}

cursor {
    // xcursor-theme "Bibata-Modern-Classic"
    // xcursor-size 26
}

input {
    keyboard {
        xkb {
        }
    }
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        natural-scroll
        // disabled-on-external-mouse
    }

    mouse {
        accel-speed 0.6
        accel-profile "flat"
    }
}

layout {
    gaps 16

    center-focused-column "on-overflow"
    always-center-single-column

    preset-column-widths {
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }

    default-column-width { proportion 0.75; }

    focus-ring {
        // off
        width 4
        active-gradient angle=45 from="89ddff" relative-to="window" to="ffcb6b"
        inactive-color "#505050"
    }
}

screenshot-path "~/Pictures/Screenshots/%Y-%m-%d_%H-%M-%S.png"

workspace "Browser"
workspace "Chat"
workspace "Code"
workspace "Game"
workspace "Work"

window-rule {
    match
    draw-border-with-background false
    geometry-corner-radius 12.000000 12.000000 12.000000 12.000000
    clip-to-geometry true
}

window-rule {
    match is-active=false
    shadow { off; }
}

window-rule {
    match app-id="firefox"
    match app-id="librewolf"
    match app-id="chromium-browser"
    match app-id="io.github.ungoogled_software.ungoogled_chromium"
    open-on-workspace "Browser"

    open-maximized true
}

window-rule {
    match title="r#'.*Lapce$'#"
    match app-id="code"
    match app-id="Code"
    match app-id="codium"
    match app-id="dev.zed.Zed"
    match app-id="jetbrains-pycharm"
    open-on-workspace "Code"

    open-maximized true
}

window-rule {
    match app-id="thunderbird"
    match app-id="wechat"
    match app-id="org.telegram.desktop"
    match app-id="QQ"
    match app-id="com.alibabainc.dingtalk"
    match app-id="wemeetapp"
    open-on-workspace "Chat"
}

window-rule {
    match app-id="heroic"
    match app-id="steam"
    match app-id="r#'^steam_app'#"
    match app-id=".gamescope-wrapped"
    match app-id="^osu"
    match app-id="org.prismlauncher.PrismLauncher"
    match app-id="org.jackhuang.hmcl.Launcher"
    open-on-workspace "Game"
}

window-rule {
    match app-id="wps"
    match app-id="^libreoffice"
    match app-id="Microsoft Windows"
    match app-id="org.kde.kdenlive"
    match app-id="org.inkscape.Inkscape"
    match app-id="gimp"
    match app-id="krita"
    match app-id="resolve"
    match app-id="affinity.exe"
    open-on-workspace "Work"
    open-maximized true
}

window-rule {
    match app-id="connman-gtk"
    match app-id="mpv"
    match app-id="QtScrcpy"
    match app-id="xdg-desktop-portal-gtk"
    match app-id="org.gnome.FileRoller"
    match app-id="org.kde.polkit-kde-authentication-agent-1"
    match app-id="org.keepassxc.KeePassXC"
    match app-id="com.network.manager"
    match app-id="fcitx"
    open-floating true
}

window-rule {
    match app-id="labwc"
    open-maximized true
}

window-rule {
    match app-id="^osu"
    match app-id="Waydroid"
    match app-id="gamescope"
    match app-id="r#'^steam_app'#"
    match app-id=".gamescope-wrapped"
    open-fullscreen true
}

window-rule {
    match app-id="foot"
    match title="Varia"
    default-column-width { proportion 0.499950; }
}

window-rule {
    match app-id="r#'^org.keepassxc.KeePassXC$'#"
    match app-id="r#'^org.gnome.World.Secrets$'#"
    block-out-from "screen-capture"
}

window-rule {
    match app-id="steam"
    match title="r#'^notificationtoasts_d+_desktop$'#"
    default-floating-position relative-to="bottom-right" x=10 y=10
}

layer-rule {
    match namespace="waybar"
    shadow { off; }
}

layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

binds {
    Alt+Print { screenshot-window; }
    Alt+Tab { focus-workspace-previous; }

    Ctrl+Print { screenshot-screen; }

    Mod+0 { focus-workspace 0; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Alt+Space hotkey-overlay-title="显示提示" { show-hotkey-overlay; }

    Mod+C hotkey-overlay-title="打开剪切板" repeat=false { spawn "sh" "-c" "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }

    Mod+Ctrl+C hotkey-overlay-title="将窗口移至中央" { center-column; }
    Mod+Ctrl+Down { move-window-down; }
    Mod+Ctrl+End { move-column-to-last; }
    Mod+Ctrl+F hotkey-overlay-title="使窗口悬浮" { toggle-window-floating; }
    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+L { move-column-right; }
    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up { move-column-to-workspace-up; }
    Mod+Ctrl+R hotkey-overlay-title="随机壁纸" { spawn "waypaper" "--random"; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Up { move-window-up; }
    Mod+D hotkey-overlay-title="打开搜索" repeat=false { spawn "fuzzel"; }
    Mod+Down { focus-window-down; }
    Mod+End { focus-column-last; }
    Mod+Equal hotkey-overlay-title="增大窗口宽度" { set-column-width "+5%"; }
    Mod+Escape hotkey-overlay-title="总览" repeat=false { toggle-overview; }
    Mod+F hotkey-overlay-title="窗口最大化" { maximize-column; }
    Mod+H { focus-column-left; }
    Mod+Home { focus-column-first; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }
    Mod+Left { focus-column-left; }
    Mod+Minus hotkey-overlay-title="减小窗口宽度" { set-column-width "-5%"; }
    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up { focus-workspace-up; }
    Mod+Q hotkey-overlay-title="关闭窗口" repeat=false { close-window; }
    Mod+R hotkey-overlay-title="更改窗口大小" { switch-preset-column-width; }
    Mod+Right { focus-column-right; }

    Mod+Shift+0 { move-column-to-workspace 0; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Shift+Ctrl+Down { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Left { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+Up { move-column-to-monitor-up; }
    Mod+Shift+Down { focus-monitor-down; }

    Mod+Shift+E { quit; }
    Mod+Shift+Equal hotkey-overlay-title="增大窗口高度" { set-window-height "+5%"; }
    Mod+Shift+F hotkey-overlay-title="窗口全屏" { fullscreen-window; }
    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }
    Mod+Shift+Left { focus-monitor-left; }
    Mod+Shift+Minus hotkey-overlay-title="减小窗口高度" { set-window-height "-5%"; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+S hotkey-overlay-title="截图" { screenshot; }
    Mod+Shift+Up { focus-monitor-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-column-right; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { focus-column-left; }

    Mod+T hotkey-overlay-title="打开终端" repeat=false { spawn "foot"; }
    Mod+Up { focus-window-up; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollLeft cooldown-ms=150 { focus-column-left; }
    Mod+WheelScrollRight cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }

    Print { screenshot; }

    Super+Alt+L hotkey-overlay-title="锁屏" repeat=false { spawn "gtklock"; }

    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "5%+"; }
}
switch-events {
    lid-close { spawn "niri msg action power-off-monitors"; }
    lid-open { spawn "niri msg action power-on-monitors"; }
}
